<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<% if @image.user == current_user %>
  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Back', images_path %>
<% end %>
